.header {
    background: #010117;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 2rem;
    height: 2rem;
    padding: 0 1rem;
}

.text {
    color: white;
    font-family: Arial;
    text-align: center;
}

h4 {
    padding-left: 2rem;
    font-weight: 400;
}

span {
    padding-left: 6px;
}